/* put your all custom css rules here */
/* you must not change other scss files */

body {
  // available colors are: blue, green, purple, orange and grey
  --currentColor: var(--blue);

  main div {
    img {
      // height: 230px;
      max-width: 100%;
      display: block;
    }

    p > code {
      display: inline;
      padding: 0.25em 0.5em;
      font-family: monospace;
    }

    small {
      font-size: 0.65em;
    }
  }
}
